body {
    font-family: "Optima";
}

header h1 {
    font-family: "Charter";
    font-weight: 900;
    text-align: center;
}

.data table {
    width: 100%;
}

.data .section {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 2em;
}

.data .procs {
    background-color: #eee;
}

.data h2 {
    margin-top: 0;
    text-align: center;
}

.ws-on { color: green; }
.ws-off { color: red; }

.pg-state-ready { background-color: #ddffdd; }
.pg-state-waiting { background-color: #ffeedd; }

.procs table .column-state {
    width: 5em;
    text-align: center;
}

.hidden {
    display: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 0.4em;
}

.table-number {
    text-align: right;
}
