<!DOCTYPE html>
<html ng-app="blizzard">
    <head>
        <title>blizzard status</title>
        <script src="angular.min.js"></script>
        <script src="blizzard.js"></script>
        <link rel="stylesheet" href="blizzard.css" type="text/css">
    </head>
    <body ng-controller="BlizzardCtl">
        <header>
            <h1>
                <span class="connection-status" ng-switch on="wsOn">
                    <span ng-switch-when="true" class="ws-on">●</span>
                    <span ng-switch-default class="ws-off">●</span>
                </span>
                blizzard
            </h1>
        </header>
        <div class="data" ng-class="{hidden: !wsOn}">
            <div class="section routes">
                <h2>Routes</h2>
                <table>
                    <tr>
                        <th>Path</th>
                        <th>Proc ID</th>
                        <th>Current requests</th>
                        <th>Total requests</th>
                        <th>Total written</th>
                    </tr>
                    <tr ng-repeat="route in routes track by $index">
                        <td>/v{{route.Version}}{{route.Path}}</td>
                        <td class="table-number">{{route.Process}}</td>
                        <td class="table-number">{{route.Requests}}</td>
                        <td class="table-number">{{route.TotalRequests}}</td>
                        <td class="table-number">{{route.Written}}</td>
                    </tr>
                </table>
            </div>
            <div class="section procs">
                <h2>Procs</h2>
                <table>
                    <tr>
                        <th class="column-id">ID</th>
                        <th class="column-patch">Patch</th>
                        <th class="column-state">State</th>
                        <th class="column-requests">Current requests</th>
                        <th class="column-total-requests">Total requests</th>
                        <th class="column-written">Total written</th>
                        <th class="column-instances">Instances</th>
                    </tr>
                    <tr ng-repeat="(id, pg) in procGroups" class="pg-state-{{pg.state}}">
                        <td class="table-number">{{pg.id}}</td>
                        <td class="table-number">{{pg.patch}}</td>
                        <td class="column-state">{{pg.state}}</td>
                        <td class="table-number">{{pg.currentRequests}}</td>
                        <td class="table-number">{{pg.totalRequests}}</td>
                        <td class="table-number">{{pg.written}}</td>
                        <td>
                            <div ng-repeat="i in pg.procs track by $index">{{i.pid}} {{i.state}}</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="section apps">
                <h2>Apps</h2>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Config/Binary</th>
                        <th>Actions</th>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
