<!DOCTYPE html>
<html ng-app="blizzard">
    <head>
        <title>blizzard status</title>
        <script src="angular.min.js"></script>
        <script src="blizzard.js"></script>
        <link rel="stylesheet" href="blizzard.css" type="text/css">
    </head>
    <body ng-controller="BlizzardCtl">
        <div ng-switch on="wsOn">
            <div ng-switch-when="true" class="ws-on">control connection is up</div>
            <div ng-switch-default class="ws-off">control connection is down</div>
        </div>
        <div ng-class="{hidden: !wsOn}">
            <div id="routes">
                <h1>Routes</h1>
                <table>
                    <tr>
                        <th>Path</th>
                        <th>Current requests</th>
                        <th>Total requests</th>
                        <th>Total written</th>
                    </tr>
                    <tr ng-repeat="route in routes track by $index">
                        <td>/v{{route.Version}}{{route.Path}}</td>
                        <td class="table-number">{{route.Requests}}</td>
                        <td class="table-number">{{route.TotalRequests}}</td>
                        <td class="table-number">{{route.Written}}</td>
                    </tr>
                </table>
            </div>
            <div id="procs"><h1>Procs</h1></div>
                <table class="table-pg">
                    <tr>
                        <th>ID</th>
                        <th>Patch</th>
                        <th class="column-state">State</th>
                        <th>Current requests</th>
                        <th>Total requests</th>
                        <th>Total written</th>
                        <th>Instances</th>
                    </tr>
                    <tr ng-repeat="(id, pg) in procGroups" class="pg-state-{{pg.state}}">
                        <td class="table-number">{{pg.id}}</td>
                        <td class="table-number">{{pg.patch}}</td>
                        <td class="column-state">{{pg.state}}</td>
                        <td class="table-number">{{pg.currentRequests}}</td>
                        <td class="table-number">{{pg.totalRequests}}</td>
                        <td class="table-number">{{pg.written}}</td>
                        <td>
                            <div ng-repeat="i in pg.procs track by $index">{{i.pid}} {{i.state}}</div>
                        </td>
                    </tr>
                </table>
            <div id="execs"><h1>Executables</h1></div>
        </div>
    </body>
</html>
