<!DOCTYPE html>
<html>
    <head>
        <title>blizzard status</title>
        <style>
        table {
            border-collapse: collapse;
        }
        tr.obsolete {
            background-color: silver;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
        th[title] span {
            border-bottom: 1px dotted black;
        }
        </style>
    </head>
    <body>
        <h1>blizzard status</h1>

        <h2>Routes</h2>
        <div id="routes">
            <table>
                <tr>
                    <th>Version</th>
                    <th>Path</th>
                    <th>Handler pid</th>
                    <th>Requests</th>
                    <th>Total requests</th>
                    <th title="without headers"><span>Data written</span></th>
                </tr>
                {{ range .Routes }}
                <tr>
                    <td>{{ .Version }}</td>
                    <td>{{ .Path }}</td>
                    <td>{{ .Instance.Pid }}</td>
                    <td>{{ .Requests }}</td>
                    <td>{{ .TotalRequests }}</td>
                    <td>{{ .Written }}</td>
                </tr>
                {{ end }}
            </table>
        </div>

        <h2>Instances</h2>
        <div id="instances">
            <table>
                <tr>
                    <th>Pid</th>
                    <th>Exe</th>
                    <th>Patch</th>
                    <th>Socket</th>
                    <th>Requests</th>
                    <th>Total requests</th>
                    <th title="without headers"><span>Data written</span></th>
                </tr>
                {{ range .Procs }}
                <tr{{ if .Obsolete }} class="obsolete"{{ end }}>
                    <td>{{ .Pid }}</td>
                    <td>{{ .Exe.Basename }}</td>
                    <td>{{ .Patch }}</td>
                    <td>{{ .Address }}</td>
                    <td>{{ .Requests }}</td>
                    <td>{{ .TotalRequests }}</td>
                    <td>{{ .Written }}</td>
                </tr>
                {{ end }}
            </table>
        </div>

        <h2>Executables</h2>
        <div id="executables">
            <table>
                <tr>
                    <th>Name</th>
                </tr>
                {{ range .Execs }}
                <tr>
                    <td>{{ .Exe }}</td>
                </tr>
                {{ end }}
        </div>
    </body>
</html>
